<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href='/css/styles.css' />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <title>Mercado Liebre</title>

    </head>

<body>
    <header>
        <div class= "padre">
        <div class= "flexhead">
        <div class="logotipo">
        <img class = "mercadoliebre" src="/images/logo-mercado-liebre.svg"  alt="Logo de MercadoLiebre">
        </div>
        
        <div class="barra">
        <input class="search" type="text" placeholder="Buscar productos, marcas">
        <button class="lupita"><i class="fas fa-search"></i></button>
        </div>
        <div class= "parrafo">
        <p class = "center"><i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito
        </p>
        </div>

        </div>
        <nav class= "flexlista">
            <div class="divlista1">
            <ul class = "lista">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            </div>
            <div class="divlista2">
            <ul class= "lista2">   
                <li><a href="/registro">Creá tu cuenta
                    <span class="far fa-id-card"></span>
                    </a></li>
                <li><a href="/login">Ingresá
                    <span class="fas fa-sign-in-alt"></span>
                    </a></li>
                <li><a href="#">Mis compras
                    <span class="fas fa-shopping-basket"></span>
                    </a></li>
            </ul>
            </div>
            
        </nav>
        <button class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </button>
        </div>
    </header>
    <section class="banner">
        <img src="/images/img-home-banner.jpg"  alt="Banner de ofertas">
    </section>
    <main>
        
        <section class= "ultimavisita">

            <h3 class="titulo">Basado en tu última visita</h3>
            <div class="productos">
            <article class="articulo">
                <img src="/images/img-cafetera-moulinex.jpg"  alt="Cafetera" class="product_img">
                <div class="main-article">
                  
                 
                      <i class="fas fa-truck"></i>
                   
                  
                <p class="precio">$6.770</p>
                <p class="descuento">40% off</p>
                <h4 class="descripciones">Cafetera Moulinex</h4>
                </div>
                
            </article>

            <article class="articulo">
                <img src="/images/img-macbook-pro-2019.jpg"  alt="MacBook" class="product_img">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                   
                <p class="precio">$230.000</p>
                <p class="descuento">20% off</p>
                <h4 class="descripciones">MacBook Pro 2019</h4>
                </div>
            </article>

            <article class="articulo">
                <img src="/images/img-samsung-galaxy-s10.jpg"  alt="Teléfono Móvil Samsung Galaxy"
                    class="product_img">
                <div class="main-article">
                <i class="fas fa-truck"></i>
                
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
                <h4 class="descripciones">Teléfono móvil Samsung Galaxy S10</h4>
              </div>
            </article>
            
            <article class="articulo">
                <img src="/images/img-tv-samsung-smart.jpg"  alt="SmartTv Samsung" class="product_img">
              
                <div class="main-article">
                <i class="fas fa-truck"></i>
                
                <p class="precio">$23.200</p>
                <p class="descuento">5% off</p>
               <h4 class="descripciones">SmartTv Samsung 43"</h4>
              </div>
            </article>
            </div>
        </section>

        <section class="ofertas">
            <h3 class = "titulo">Ofertas</h3>
            <div class="productos">
            <article class="articulo">
                <img src="/images/img-cafetera-moulinex.jpg"  alt="Cafetera" class="product_img">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                  
                <p class="precio">$6.770</p>
                <p class="descuento">40% off</p>
                <h4 class="descripciones">Cafetera Moulinex</h4>
                </div>
            </article>
            
            <article class="articulo">
                <img src="/images/img-macbook-pro-2019.jpg"  alt="MacBook" class="product_img">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    
                <p class="precio">$230.000</p>
                <p class="descuento">20% off</p>
                <h4 class="descripciones">MacBook Pro 2019</h4>
                </div>
            </article>
            <article class="articulo">
                <img src="/images/img-samsung-galaxy-s10.jpg"  alt="Teléfono Móvil Samsung Galaxy"
                    class="product_img">
                <div class="main-article">
                <i class="fas fa-truck"></i>
                

                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
                <h4 class="descripciones">Teléfono móvil Samsung Galaxy S10</h4>
             </div>
            </article>
            <article class="articulo">
                <img src="/images/img-tv-samsung-smart.jpg"  alt="SmartTv Samsung" class="product_img">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    
                <p class="precio">$23.200</p>
                <p class="descuento">5% off</p>
                <h4 class="descripciones">SmartTv Samsung 43"</h4>
                </div>
            </article>
            </div>
        </section>
    </main>
    <footer >
        <div class="footerflex">
        <section  >
            <article class = "foot">
                <div class="icon-center">

                    <i class="fas fa-credit-card"></i>

                </div>
                <h3 class="negrita">Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es
                    seguro!</p>
            </article>
        </section>
        <section >
            <article class = "foot">
                <div class="icon-center">

                    <i class="fas fa-gift"></i>

                </div>
                <h3 class = "negrita">Envío gratis desde $2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
        </section>
        <section >
            <article class = "foot">
                <div class="icon-center">

                    <i class="fas fa-user-shield"></i>

                </div>
                <h3 class="negrita">Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
        </section>
        </div>
        <section>
            <article class = "foot">
                <h5>Copyright © 1999-2021 MercadoLiebre S.R.L.</h5>
            </article>
        </section>
    </footer>
</body>

</html>