<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href='/css/styles.css' />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <title>Bienvenido a Mercado Liebre</title>
</head>
<body>
    <header>
        <div class= "padre">
            <div class= "flexhead">
            <div class="logotipo">
            <img class = "mercadoliebre" src="/images/logo-mercado-liebre.svg"  alt="Logo de MercadoLiebre">
            </div>
            <form action="/" method="POST">
            <div class="barra">
            <input class="search" type="text" placeholder="Buscar productos, marcas">
            <button class="lupita"><i class="fas fa-search"></i></button>
            </form>
        </div>
            <div class= "parrafo">
            <p class = "center"><i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </p>
            </div>
    
            </div>
            <nav class= "flexlista">
                <div class="divlista1">
                <ul class = "lista">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                </div>
                <div class="divlista2">
                <ul class= "lista2">   
                    <li><a href="/registro">Creá tu cuenta
                        <span class="far fa-id-card"></span>
                        </a></li>
                    <li><a href="/login">Ingresá
                        <span class="fas fa-sign-in-alt"></span>
                        </a></li>
                    <li><a href="#">Mis compras
                        <span class="fas fa-shopping-basket"></span>
                        </a></li>
                </ul>
                </div>
                
            </nav>
            <button class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </button>
            </div>

    </header>
    <main class= "mainlogin">
        <section class ="sectionlogin">
         <form action="/" method="POST">
            
            <div class = "divlogin">
               <div class ="nombrelogin"> <input class= "borderinputlogin" type="text" name="user" placeholder="Nombre de usuario"></div>
            
               <div class ="nombrelogin"> <input class= "borderinputlogin" type="password" name="pass" placeholder="Contraseña"></div>
            </div> 
            <div class= "botonlogin">
            <button class= "buttonlogin" type="submit">Enviar</button> 
            </div>      
         </form>
        </section>
    </main>
    <footer class="footerlogin">
        <div class="footerflex">
        <section >
            <article class = "foot">
                <div class="icon-center">

                    <i class="fas fa-credit-card"></i>

                </div>
                <h3 class="negrita">Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es
                    seguro!</p>
            </article>
        </section>
        <section >
            <article class = "foot">
                <div class="icon-center">

                    <i class="fas fa-gift"></i>

                </div>
                <h3 class = "negrita">Envío gratis desde $2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
        </section>
        <section >
            <article class = "foot">
                <div class="icon-center">

                    <i class="fas fa-user-shield"></i>

                </div>
                <h3 class="negrita">Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
        </section>
        </div>
        <section>
            <article class = "foot">
                <h5>Copyright © 1999-2021 MercadoLiebre S.R.L.</h5>
            </article>
        </section>
    </footer>
</body>
</html>