body{
    margin: 0px;
    font-family:'Roboto', sans-serif;
    font-size: 12px;
    box-sizing:border-box;
    background-color: lightgrey;
    width: 100%;
    
}



header {color: black;
        background-color: #EAC926; 
        padding-bottom: 15px;
        width: 100%;
}
    
    .primerflex{
        display: flex;
    width: 40%;
    padding-top: 5%;
    padding-bottom: 0%;
    justify-content: flex-start;
    padding-left: 3%;
    margin-bottom: 0px;
    margin-left: 0px;
        
    }

    .segundoflex{
        display: flex;
        flex-flow: row;
        

    }

    ul {
    padding-left: 0px;
    display: none;
    }
  
    li {
    list-style-type: none;
    padding: 0;
    }

     ul li a{
     color:black;
     text-decoration: none;

  }

h3{
    font-size: 24px;
    margin-left: 20px;
}

main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
   
    
}


.burger{color: white; 
    text-align: center; width: 100%;}

.burger-menu{
    background-color: #0343A9;
  border: 0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

article {
    background-color: #FFFFFF;
    max-width: 100%;
    margin-left: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    
  }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .search{
    margin-top:0px ;
    margin-left:  20px;
    
    
}

.lupita {
    margin-left: 5px;
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 10%;
    margin-top: 1px;
    
}

.center{
    text-align: center;
}

.id-card{
    text-align: left;
}
.alt{
    text-align: left;
}
.basquet{
    text-align: left;
}
.negrita{
    font-weight: bold;
}

.card{text-align: center;

}
.gift{
    text-align: center;
}

.fa-truck {
    
    color: limegreen;
}

.titulo{
    font-size: 24px;
    margin-left: 0px;
    color: rgb(0,0,0, 0.5);
    
}
  
.precio{
    font-size: 18px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    
}

.descuento{
    font-size: 16px;
    color: limegreen;
    padding-top: 0px;
    

    
    
}

.descripciones{
    font-size: 16px;
    color: rgb(0,0,0, 0.5);
    font-weight: 500;
    display: none;
    margin-top: 50px;
   
}
.icon-center {
    color:#0D5ACA;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    display:block;
    width: 27px;
    text-align: center;
  }
  footer {
    background-color: white;
    padding-top: 30px;
    text-align: center;
    
    
  }
  
     
  .articulo{
      margin-bottom: 10px;
      margin-top: 10px;
      margin-right: auto;
      margin-left: auto;
  }
    .bordes{
        border-top: 1px solid #ebebeb;
        padding: 15px;
    }
.foot{
    margin-left: auto;
    margin-right: auto;
    
}

.camion{
    color: #39b54a;
    display: inline-block;
    border-radius: 40%;
    box-shadow: 0px 0px 2px #39b54a;
    padding: 0.5em 0.6em;
}

@media (min-width:361px){
    .descripciones{
        display: block;
    }
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
ul{
    display: block;
    
}
   .burger-menu{
       display: none;
   }
}
@media (min-width:769px){
    .descripciones{
        display: block;
    }
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
ul{
    display: block;
    
}
   .burger-menu{
       display: none;
   }
}
