body{
    margin: 0px;
    font-family:'Roboto', sans-serif;
    font-size: 12px;
    box-sizing:border-box;
    background-color: lightgrey;
    width: 100%;
  
}



header {color: black;
background-color: #EAC926; 
padding-bottom: 15px;
width: 100%;
}

ul {
    padding-left: 0px;
  }
  
  li {
    list-style-type: none;
    padding: 0;
  }

  ul li a{
     color:black;
     text-decoration: none;

  }

h3{
    font-size: 24px;
    margin-left: 20px;
}

main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
   
    
}


.burger{color: white; 
    text-align: center; width: 100%;}

.burger-menu{
    background-color: #0343A9;
  border: 0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

article {
    background-color: #FFFFFF;
    max-width: 100%;
    margin-left: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .search{
    margin-top:20px ;
    margin-left:  20px; ;
    display: block;
}

.lupita {
    margin-left: 20px;
}

.center{
    text-align: center;
}

.id-card{
    text-align: left;
}
.alt{
    text-align: left;
}
.basquet{
    text-align: left;
}
.negrita{
    font-weight: bold;
}

.card{text-align: center;

}
.gift{
    text-align: center;
}

.fa-truck {
    display: inline;
    color: limegreen;
       
  }
  
.precio{
    font-size: 18px;
}

.descuento{
    font-size: 16px;
    color: limegreen;
    
}

.descripciones{
    font-size: 16px;
    color: rgb(0,0,0, 0.5);
    font-weight: 500;
   
}
.icon-center {
    color:#0D5ACA;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    display:block;
    width: 27px;
    text-align: center;
  }
  footer {
    background-color: white;
    padding-top: 30px;
    text-align: center;
    
  }
  
     
  .articulo{
      margin-bottom: 10px;
      margin-top: 10px;
      margin-right: auto;
      margin-left: auto;
  }
    .bordes{
        border-top: 1px solid #ebebeb;
        padding: 15px;
    }
.foot{
    margin-left: auto;
    margin-right: auto;
}
